.action_date, .tip_date{
	font-size: x-small;
}
.action_score{
	font-size: small;
}
.tip_date{
	float: right;
}

.action_name{
	font-size: small;
}
		
.actions {
            margin:0;
            padding:0;
            list-style:none;
			height: 100px;
        }
        
        .actions li {
            text-align:center;
        }
        
        li span {
            display:block;
            margin:0px 5px 0px 5px;
            background:#F8F8F8;
        }
        
        .next,
        .prev {
            cursor:pointer;
        }
        
        
        .carousel-pagination li {
            display:block;
            width:10px;
            height:10px;
            margin-right:5px;
            cursor:pointer;
            float:left;
            background:#333;
        }
        
        .carousel-pagination .carousel-pagination-active {
            background:#ff0000;
        }
		
ul { margin: 0; padding: 0; list-style: none; }
			
			.carousel-tabs { clear: both; }
			.carousel-active-tab { color: red; }	
			.carousel-disabled,
			.mr-rotato-disabled { color: #aaa; }

			.events {
				font: normal 11px/1.4 arial, helvetica, sans-serif;
			}