/* Elementos por defecto
/********************************************************************/
h1,h2,h3,h4,h5,h6,pre,code,table,td,th,dd,dt,dl,li,textarea {font-size: 100%;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,td { margin:0; padding:0;}
a img{ border:none;}
ul, li{list-style-type: none;}
table, tr, th, td{border-collapse:collapse;}
a{text-decoration: none;}
fieldset,acronym{ border:none;}
html {
    font-size: 0.8em;
}
body{

	color: #7f7f7f;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.panel-body{
	font-size: 0.9em;
}
.panel-title{
font-size: 0.9em; color: #225494; font-weight: bold;
}

/* Estructura
/********************************************************************/


#segunda{
	float:left;
	width:693px;
	background:#fff;
}




/* Elementos segunda
/********************************************************************/
/* Header */
#header {
	float:left;
	width: 100%;
	background: url(../img/bg_header.jpg) no-repeat left top #1f5293;
}

#top_navs {
	float: left;
	width:100%;
	/*padding-bottom:18px;*/
	padding-bottom:10px;
}

/* menu idiomas */
#nav_idiomas{
	display:inline; /* IE6 fix (double left margin) */
	float:left;
	margin:8px 5px 0 24px;
}
#nav_idiomas li {display: inline;}

/* menu contacto, mapaweb, aviso legal */
#nav_top{
	float:left;
	font-size:.8em;
}
#nav_top li{
	float:left;
	padding:10px 10px 2px 10px;
	background:url(../img/bg_nav_top.gif) no-repeat left top;
}
#nav_top li.fst {background:none;}
#nav_top li a {color:#6a6a6a;}
#nav_top li a:hover{
	color:#4B8DE1;
	text-decoration:underline;
}

/* menu accesos (clientes y administracion) */

#nav_accesos{
	float:right;
	font-size:.8em;
	font-weight: bold;
}
#nav_accesos li {
	float:left;
	margin-left:1px;
	/*padding:8px 11px 5px 30px;*/
	/*padding:4px 11px 5px 30px;*/
	padding:4px 1px 5px 4px;
	/*width:89px;*/
}
/*
#nav_accesos li.cliente		  {background:url(../img/bg_nav_accesos_cliente.gif) no-repeat 10px 7px	  #ECF3FA;}
#nav_accesos li.cliente:hover {background:url(../img/bg_nav_accesos_cliente.gif) no-repeat 10px -31px #4B8DE1;}
#nav_accesos li.admin		  {background:url(../img/bg_nav_accesos_admin.gif)	 no-repeat 10px 7px	  #ECF3FA;}
#nav_accesos li.admin:hover	  {background:url(../img/bg_nav_accesos_admin.gif)	 no-repeat 10px -29px #4B8DE1;}
*/

#nav_accesos li.cliente		  {width:90px; background: no-repeat 10px 7px #ECF3FA;}
#nav_accesos li.cliente:hover {width:90px; background: no-repeat 10px -31px #4B8DE1;}
#nav_accesos li.admin		  {width:110px; background: no-repeat 10px 7px #ECF3FA;}
#nav_accesos li.admin:hover	  {width:110px; background: no-repeat 10px -29px #4B8DE1;}

#nav_accesos li a {color:#225494;}
#nav_accesos li:hover a {color:#fff;}
#nav_accesos li.sel  {background-color:#4B8DE1;  background-position:10px -30px }
#nav_accesos li.sel a {color:#fff;}

/* Menu principal */
/* oculta seleccionado al hacer hover sobre el menu */
#main_menu:hover li.on {background:url(../img/bg_main-menu.gif) no-repeat left top;}
#main_menu:hover li.on a {color:#205897;}
#main_menu:hover li.on ul{display: none;}


#main_menu{
	position:relative;
	z-index: 99;
	float:left;
	font-size:.85em;
	font-weight:bold;
	height: 50px;
}
#main_menu li{
	background:url(../img/bg_main-menu.gif) no-repeat left top;
	line-height:16px;	
	float:left;
	display:block;
	height: 50px;
}
#main_menu li.fst {background:none;}

#main_menu li a{
	display:block;
	color:#205897;
}
#main_menu li a:hover {color:#fff;}

#main_menu li.on,
#main_menu li:hover,
#main_menu:hover li.on:hover,
#main_menu li.on:hover {background: #225494;}

#main_menu li.on a,
#main_menu li:hover a,
#main_menu:hover li.on:hover a,
#main_menu li.on:hover a {color:#fff;}

#main_menu li.on ul {display: block;}

#main_menu li:hover ul {display: block !important;}


/* Submenu menu principal */
#main_menu li ul{
	position: absolute;
	width:470px;  /* deseado - 20px */
	height: 35px; /* deseado - 29px o quitar para alto automatico */
	display: none;
	margin:0;
	padding: 16px 20px 13px 0;
	background:#DCE6F2;
	font-weight:normal;
}
#main_menu li ul li{
	background:none !important;
	padding: 0 0 4px 17px !important;
}
#main_menu li ul li a{
	padding:0;
	color:#225493!important;
}
#main_menu li ul li a:hover{
	color: #fb8404 !important;
	text-decoration:none;
}

#main_menu li ul li.sel a{
	color: #fb8404 !important; font-weight:bold;
	
}

/* Posicionamiento submenus */
#main_menu li ul.sub01 {left: 0px;	} /* al margen izquierdo */
#main_menu li ul.sub02 {left: 91px; } /* arbitrario */
#main_menu li ul.sub03 {left: 172px; } 			  /* alineado al padre */
#main_menu li ul.sub04 {right: 186px; }
#main_menu li ul.sub05 {right: 25px; } /* al margen derecho */

